table {
    margin: 1em auto;
    margin-top: 90px;
}

td {
    border: 1px solid;
}

td:first-child {
    border-left: solid;
}

td:nth-child(3n) {
    border-right: solid;
}

tr:first-child {
    border-top: solid;
}

tr:nth-child(3n) td {
    border-bottom: solid;
}

#main {
    font-size: 16px;
    text-align: center;
}

#checkSolution{
  margin-top: 40px;
}

input {
    width: 45px;
    height: 45px;
    text-align: center;
}
